$node-width: 60px;
.slr {
  height: 100%;
  .slr__col {
    height: 100%;
  }
  .slr__chart {
    height: 600px;
  }
  .slr_detail-button {
    color: #888;
    &:hover {
      color: #555;
      border-color: #fff;
    }
  }
  .slr__operate {
    margin-bottom: 4px;
  }
  .slr__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    .slr__detail-node-wrapper {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
    .slr__detail-node {
      width: $node-width;
      height: $node-width;
      background-color: #c23431;
      border-radius: $node-width / 2;
      line-height: 60px;
      text-align: center;
      margin-right: 10px;
      color: #fff;
      font-size: 18px;
    }
    .slr__detail-prod {
      font-size: 20px;
      flex-grow: 2;
    }
  }
}